@charset "utf-8";

@font-face {

    font-family : "LintwBasicWeb";
    src: url("LintwBasic/1.20/LintwBasic.woff") format("Woff");
}

@font-face {

    font-family : "LintwToyWeb";
    src: url("LintwToy/1.10/LintwToy.woff") format("Woff");
}

body {

	font-family : "Times New Roman", Serif;
	padding : 0px 24px 24px 24px;
	line-height : 1;
	background-color : #f9f9f2;
}

h1 {

	margin : 24px 0px 24px 0px;
	padding : 0px;
	font-size : 32px;
	padding : 8px 12px;
	background-color : #f0f0ea;
}

p {

	margin : 0px;
	padding : 0px;
}

.lintwese {

	font-size : 32px;
	font-weight : normal;
}

.basic {

	font-family : "LintwBasicWeb";
}

.serif {

	font-family : "LintwSerifWeb";
}

.gothic {

	font-family : "LintwGothicWeb";
}

.toy {

	font-family : "LintwToyWeb";
}
