@charset "utf-8";

@font-face {

    font-family : "LintwBasic";
    src : url("./LintwBasic/1.10/LintwBasic.ttf") format("TrueType"),
          url("./LintwBasic/1.10/LintwBasic.woff") format("Woff");
}

.lintwese {

	font-size : 64px;
	font-weight : normal;
}

.basic {

	font-family : "LintwBasic";
}

body {

	font-family : "Times New Roman", Serif;
	padding : 24px;
	line-height : 1;
	background-color : #f9f9f2;
}

h1 {

<<<<<<< HEAD
	margin : 0px 0px 24px 0px;
	padding : 0px;
	font-size : 32px;
	padding : 8px 12px;
	background-color : #f0f0ea;
=======
	margin : 0px 0px 8px 0px;
	padding : 4px 8px;
	font-size : 32px;
	background-color : #f2f2f2;
>>>>>>> origin/gh-pages
}

p {

	margin : 0px;
	padding : 0px;
}
